<h1 class="center">Menu</h1>
<div class="row">
  <% @dishes.each do |dish| %>
    <div class="col s12 m3">
      <div class="container">
        <div class="box">
          <span class="box-title"><%= dish.title %></span>
          <p><%= dish.description %></p>
        </div>
        <div class="box-action">
          <a class="btn" href="/dishes/<%= dish.id %>/edit">Edit</a>
          <form action="/dishes/<%= dish.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <button class="btn red">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>
