<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Cafe</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/dishes">My Dishes</a></li>
      <li><a href="/dishes/new">New Dish</a></li>
    </ul>
  </div>
</nav>
